#password{
  position: relative;

}
/* img,
svg {
  vertical-align: middle;
  margin-left:5px ;
  width: 24px;
  height: 24px;
  color:lightslategray;
  position: absolute;
  left: 180px;
  top:145px;
} */
small{
  margin-left: 5px;
  color:red
}